* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: url("https://th.bing.com/th/id/R.71fe8c0e0238fae4033e4c3466345b50?rik=AuGWT6Tqz5uMQg&pid=ImgRaw&r=0");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
    


  .container {
    width: 420px;
    background: transparent;
    border: 2px solid #000000f1;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 30px 40px;
  }

  h1 {
    font-size: 36px;
    text-align: center;
  }
  
  .input-container {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 10px 0;

  }
 





